@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

$color-error: #da3030;
$color-green: #3CDBC0;
$color-card: #f4f5f6;
$color-card-border: #999;


body {
  margin: 0;
  font-family: 'ubuntu', Arial, sans-serif
}

.wrapper {
  margin: 0 30px;
  @media all and (min-width: 550px) {
    margin: 0 60px;
  }

  @media all and (min-width: 768px) {
    margin: 0 80px;
  }
}
