.pairs__game {
  margin-top: 60px;
}
.pairs__cards {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-gap: 20px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pairs__card {}

.pairs__overlay {
  background: #3CDBC0;
  position: fixed;
  left: 0;
  top: 0;
  width:0;
  height: 0;
  overflow: hidden;
  opacity: .15;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pairs__overlay--active {
  width: 100vw;
  height: 100vh;
}
