.pairs__game {
  margin-top: 60px;
}
.pairs__cards {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-gap: 20px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: background ease .5s;
}

.pairs__overlay {
  background: rgba($color-green, .75);
  position: fixed;
  left: 0;
  top: 0;
  width:0;
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  color: white;
}
.pairs__overlay--active {
  width: 100vw;
  height: 100vh;
}
.pairs__overlay--ko {
  background: rgba($color-error, .75);
}

.pairs__overlay--ok {
  background: rgba($color-green, .85);
}
